<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Wear OS features -->
    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <!-- Round screen support -->
    <uses-feature
        android:name="android.hardware.screen.round"
        android:required="false" />

    <application>
        <!-- Make LoginActivity the launcher -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.CareBridgeWear.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.google.android.wearable.intent.category.WEAR_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CareBridgeWear.NoActionBar" />

        <activity
            android:name=".CallActivity"
            android:theme="@style/Theme.CareBridgeWear.NoActionBar" />

        <activity
            android:name=".MedicineActivity"
            android:theme="@style/Theme.CareBridgeWear.NoActionBar" />

        <activity
            android:name=".HealthInfoActivity"
            android:theme="@style/Theme.CareBridgeWear.NoActionBar" />

        <activity
            android:name=".GuardianActivity"
            android:theme="@style/Theme.CareBridgeWear.NoActionBar" />
    </application>
</manifest>